@import url('https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap');

header {
    background-color: #c92525;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    font-family: 'Bolt', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .login a {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .login a:active {
    background-color: #c92525;
    color: #fff;
    transform: translateY(2px);
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid red
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    display: block;
    background-color: #E50914;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button[type="submit"]:hover {
    background-color: #241e1e;
  }
  
  button[type="submit"]:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }

  footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    flex: 1;
    text-align: left;
  }
  
  .footer-right {
    flex: 1;
    text-align: right;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 90%;
      flex-wrap: wrap;
    }
    
    .footer-left, .footer-right {
      flex-basis: 100%;
      text-align: center;
    }
    
    .footer-left img {
      margin-bottom: 10px;
    }
    
    .footer-right {
      margin-top: 10px;
    }
  } 
  
  
